section.electric.section
  .container
    h2.title(data-aos="fade-up" data-aos-duration="1000" )
      | It’s Electric
    p.subtitle(data-aos="fade-up" data-aos-duration="1500" )
      | Invest in the future of surfing and join the electric revolution with Rocket Surf! <br> Here are just a few of the benefits of electric surfing:
    .electric__block
      img.electric__image(src="./images/content/surf-6.webp", alt="surf-6" data-aos="zoom-in" data-aos-duration="2000")
      .electric__texts
        .electric__text
          h5.electric__title(data-aos="fade-up" data-aos-duration="1000" )
            | No require a permit to operate:
          p.electric__subtitle(data-aos="fade-up" data-aos-duration="1500" )
            | Electric Surf operates without restrictions, can be used in various water bodies.
        .electric__text
          h5.electric__title(data-aos="fade-up" data-aos-duration="1000" )
            | Eco-Friendliness:
          p.electric__subtitle(data-aos="fade-up" data-aos-duration="1500" )
            | Our electric motor has no negative impact on the environment
        .electric__text
          h5.electric__title(data-aos="fade-up" data-aos-duration="1000" )
            | Performance:
          p.electric__subtitle(data-aos="fade-up" data-aos-duration="1500" )
            | The electric motor provides extra speed and power, allowing surfers to reach new heights and push the limits of what's possible on a surfboard.
    .electric__details.details
      img.details__image(src="./images/content/surf-7.webp", alt="surf")
      .details__item.details__item--1.js-target
        .details__rounded
        .details__text
          | IoT-Unit / GSM
          br
          | Bluetooth / GPS
      .details__item.details__item--2.js-target
        .details__rounded
        .details__text
          | Full handmade
          br
          | Carbon Fiber Hull
      .details__item.details__item--3.js-target
        .details__rounded
        .details__text
          | Patented
          br
          | X-Design
      .details__item.details__item--4.js-target
        .details__rounded
        .details__text
          | Lithium Battery with automatic
          br
          | emergency shutdown
      .details__item.details__item--5.js-target
        .details__rounded
        .details__text
          | Specially Designed Jet
          br
          | Propulsion with 750N Trust