section.intro.section
  .container
    h2.intro__title.title
      | Introducing The Rocket Surf
    p.intro__subtitle.subtitle
      | Innovative electric surfboard that combines cutting-edge technology with the best of the surfing industry. 
      | Designed for surfers, by surfers, Rocket Surf offers a smooth and effortless ride. With its powerful motor and durable construction, surfing has never been easier. Invest in the future of surfing with Rocket Surf, perfect for rental businesses and riders alike. Experience the thrill of Rocket Surf today!
    .intro__block
      img.intro__image(src="./images/content/surf-1.webp", alt="surf")
      .intro__items
        .intro__item
          .intro__icon
            svg#eG1ZRjQmKyX1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 71 70' shape-rendering='geometricPrecision' text-rendering='geometricPrecision')
              style.
                <![CDATA[
                #eG1ZRjQmKyX2_tr {animation: eG1ZRjQmKyX2_tr__tr 3000ms linear infinite normal forwards}@keyframes eG1ZRjQmKyX2_tr__tr { 0% {transform: translate(34.971459px,35.089561px) rotate(0deg)} 100% {transform: translate(34.971459px,35.089561px) rotate(360deg)}}
                ]]>
              g#eG1ZRjQmKyX2_tr(transform='translate(34.971459,35.089561) rotate(0)')
                g(transform='translate(-34.971458,-35.089561)')
                  path(d='M32.5857,14.5794c1.4043,4.0718,1.0255,11.1385,1.0255,11.2264-.0619.7283.5254,1.3742,1.2584,1.4043.0286,0,.0595.0309.0896.0309.7005,0,1.3155-.5539,1.3464-1.2925.0301-.3178.4074-7.6769-1.1721-12.2456-.9668-2.8213-3.1945-5.72338-3.2825-5.83591-.4715-.58486-1.3211-.70849-1.9075-.23617-.5849.44142-.7029,1.29177-.2338,1.87742.0008.03011,2.024,2.69766,2.876,5.07116Z' fill='#fff')
                  path(d='M17.6139,15.5694c.0127.0309,3.1003,1.3282,5.0284,2.9592c3.2563,2.8252,6.4588,9.1287,6.5024,9.2048.3178.6664,1.1483.928,1.7974.5904.0229-.0159.0641-.0056.0895-.0206.6102-.3487.8638-1.1381.5207-1.7895-.1332-.2972-3.487-6.8558-7.1467-10.0203-2.2459-1.959-5.6259-3.3538-5.7591-3.4101-.7021-.2718-1.497.0508-1.7688.7482-.2853.6712.038,1.4669.7362,1.7379Z' fill='#fff')
                  path(d='M10.1747,26.8822c.0253.0103,3.3491-.4105,5.8335.0412c4.2303.8155,10.159,4.6726,10.2358,4.7177.6079.4106,1.459.2259,1.8489-.3891.0159-.0261.0539-.0412.069-.0618.3534-.615.1799-1.4249-.4438-1.8156-.2663-.1838-6.4509-4.1899-11.2019-5.0973-2.9235-.5745-6.54677-.0927-6.69497-.0713-.74177.1125-1.26719.7901-1.15386,1.5279.08955.7331.76871,1.2561,1.50733,1.1483Z' fill='#fff')
                  path(d='M25.6879,36.472c.7338.0563,1.3797-.5334,1.4075-1.2609c0-.0309.0285-.0562.0285-.0927c0-.7021-.5595-1.3179-1.2926-1.3433-.3233-.0309-7.6824-.4002-12.2511,1.1904-2.8133.9636-5.71307,3.1937-5.83115,3.2817-.58723.4715-.69977,1.329-.2314,1.9075.44141.5849,1.28938.7029,1.87741.237.02774,0,2.69444-2.032,5.06874-2.8831c4.0703-1.4162,11.1338-1.0366,11.2241-1.0366Z' fill='#fff')
                  path(d='M28.211,39.1389c-.0126-.0262-.0055-.0666-.0206-.0928-.3542-.6102-1.1459-.8606-1.7926-.523-.2948.1395-6.8535,3.4933-10.0123,7.1594-1.9543,2.2459-3.3467,5.6306-3.4054,5.7646-.2718.7029.0563,1.497.7537,1.7688.6752.2813,1.4693-.042,1.7443-.7386.023-.0159,1.3203-3.1034,2.9488-5.0315c2.8181-3.2611,9.12-6.4668,9.1977-6.5127.6601-.3178.9272-1.1476.5864-1.7942Z' fill='#fff')
                  path(d='M31.1441,41.9742c-.0253-.0103-.038-.0507-.0642-.0665-.6126-.3479-1.4257-.1744-1.8156.4461-.1846.2663-4.182,6.4557-5.0878,11.2106-.5634,2.9227-.0792,6.5484-.061,6.6918.1157.7489.7949,1.2672,1.5359,1.1594.7283-.0927,1.2513-.7742,1.1388-1.5184.0134-.0198-.4105-3.3435.0356-5.8295.81-4.2312,4.6615-10.1645,4.7074-10.2414.4105-.6055.2291-1.4622-.3891-1.8521Z' fill='#fff')
                  path(d='M37.4159,55.6012c-1.4201-4.0671-1.0508-11.1385-1.0508-11.2201.0507-.7339-.5333-1.3853-1.2616-1.4051-.031,0-.0619-.0309-.0896-.0309-.7053,0-1.3211.5642-1.3488,1.2925-.0285.3281-.3923,7.6809,1.2022,12.2511.974,2.8158,3.2104,5.7076,3.2976,5.8304.4715.5841,1.3226.6974,1.9043.2259.5872-.4414.6998-1.2926.2338-1.8774-.0048-.0254-2.0304-2.6977-2.8871-5.0664Z' fill='#fff')
                  path(d='M52.3854,54.576c-.0175-.0309-3.1082-1.3235-5.0379-2.9441-3.2619-2.8157-6.4802-9.1184-6.5206-9.1953-.3234-.6617-1.1539-.9232-1.7998-.5793-.023.0111-.0618,0-.0919.0159-.6055.359-.8614,1.1435-.5175,1.7902.1355.2972,3.5044,6.8511,7.1665,10.0107c2.2531,1.948,5.6378,3.338,5.7741,3.3943.7029.2718,1.4946-.0563,1.7641-.7537.2837-.6831-.0428-1.4685-.737-1.7387Z' fill='#fff')
                  path(d='M59.7927,43.2471c-.0254-.0159-3.3491.4153-5.8304-.0254-4.2335-.8059-10.1716-4.6566-10.2461-4.6986-.6126-.4106-1.4645-.2243-1.8497.3899-.0158.0309-.0555.042-.0713.0729-.3479.6054-.1752,1.4146.4462,1.8045.2678.1894,6.4611,4.174,11.2153,5.0759c2.9251.565,6.5468.0729,6.6902.0523.7473-.1133,1.2712-.7909,1.1578-1.5343-.0911-.7275-.7679-1.245-1.512-1.1372Z' fill='#fff')
                  path(d='M62.4182,29.9643c-.4462-.584-1.2862-.6974-1.8758-.2306-.0262,0-2.6921,2.0359-5.0625,2.8926-4.0662,1.4257-11.1353,1.0667-11.2201,1.0667-.7354-.0507-1.3789.5389-1.4066,1.2616.0047.031-.0262.0619-.0293.0928.0079.7021.5618,1.3123,1.2957,1.3425.3233.0309,7.6816.3796,12.2479-1.2149c2.8166-.974,5.7076-3.216,5.8209-3.3031.5951-.4716.7077-1.3283.2298-1.9076Z' fill='#fff')
                  path(d='M41.7287,31.0356c.0158.0206.0047.0618.0198.0872.3558.6055,1.1435.8614,1.7926.5175.2956-.1387,6.8439-3.5171,9.9973-7.1792c1.9455-2.2562,3.3308-5.6409,3.3879-5.7749.2765-.7077-.0571-1.497-.76-1.7641-.6768-.2868-1.4661.0413-1.7348.7434-.023.0103-1.3131,3.1034-2.9362,5.0315-2.8101,3.2667-9.1105,6.4921-9.185,6.5333-.6585.3242-.9248,1.1594-.5816,1.8053Z' fill='#fff')
                  path(d='M38.7902,28.1999c.0253.0056.0364.0468.0642.0666.6126.3487,1.4201.1743,1.8077-.4462.187-.2718,4.1692-6.4667,5.0663-11.2264.5595-2.9227.0619-6.5492.0444-6.69182-.1157-.74336-.798-1.2672-1.5406-1.14912-.7259.09273-1.2489.77427-1.1332,1.51284-.0159.0262.4176,3.3436-.0214,5.8304-.8005,4.2311-4.6401,10.1795-4.6837,10.2517-.4081.6118-.2234,1.4677.3963,1.852Z' fill='#fff')
                  path(d='M35.0083,29.5696c-3.0542,0-5.526,2.4718-5.526,5.5284c0,3.0408,2.4718,5.5173,5.526,5.5173c3.0496,0,5.5205-2.4765,5.5205-5.5173c0-3.0566-2.4717-5.5284-5.5205-5.5284Z' fill='#fff')
              path(d='M34.998,0C15.7001,0,0,15.6977,0,34.9948C0,54.2976,15.7001,70,34.998,70c19.3004,0,35.0052-15.7016,35.0052-35.0052C70.0032,15.6977,54.2984,0,34.998,0Zm0,67.9395c-18.1671,0-32.94386-14.7799-32.94386-32.9439s14.77676-32.94384,32.94386-32.94384s32.9431,14.77914,32.9431,32.94384c0,18.1632-14.776,32.9439-32.9431,32.9439Z' fill='#f904fc')
          .intro__texts
            b.intro__strong
              | 15 HP
            span.intro__desc
              | Electric Engine
        .intro__item
          .intro__icon
            svg#eIKyRpHV9Qq1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 70 70' shape-rendering='geometricPrecision' text-rendering='geometricPrecision')
              style.
                <![CDATA[
                #eIKyRpHV9Qq2_tr {animation: eIKyRpHV9Qq2_tr__tr 3000ms linear infinite normal forwards}@keyframes eIKyRpHV9Qq2_tr__tr { 0% {transform: translate(35.75875px,39.25875px) rotate(-181.561394deg)} 16.666667% {transform: translate(35.75875px,39.25875px) rotate(-90.387555deg)} 33.333333% {transform: translate(35.75875px,39.25875px) rotate(-181.645938deg)} 50% {transform: translate(35.75875px,39.25875px) rotate(-90.361758deg)} 66.666667% {transform: translate(35.75875px,39.25875px) rotate(-181.424893deg)} 83.333333% {transform: translate(35.75875px,39.25875px) rotate(93.896916deg)} 100% {transform: translate(35.75875px,39.25875px) rotate(-182.535659deg)}}
                ]]>
              g#eIKyRpHV9Qq2_tr(transform='translate(35.75875,39.25875) rotate(-181.561394)')
                g(transform='translate(-35.758743,-39.25875)')
                  path(d='M36.6124,36.5368c-1.4636-.7734,2.5112,3.4803,1.7629,1.8498L51.9723,24.207c.2299-.2472.3577-.5861.3577-.9409c0-.3667-.1314-.7136-.3577-.9368-.4635-.5183-1.2702-.5063-1.7264-.008L36.6124,36.5368Z' clip-rule='evenodd' fill='#fff' fill-rule='evenodd')
                  path(d='M35.7588,43.6196c2.4084,0,4.3608-1.9524,4.3608-4.3608s-1.9524-4.3609-4.3608-4.3609-4.3609,1.9525-4.3609,4.3609s1.9525,4.3608,4.3609,4.3608Z' fill='#fff')
              path(d='M34.9961,3.5c-9.3466,0-18.1338,3.67551-24.7339,10.35C3.64637,20.5324,0.000052,29.4185,0.000052,38.8664c-.007824,4.5142.86072,8.9692,2.586068,13.25l-.01173.1068.18388.3126c2.04616,4.9059,5.03129,9.163,8.87323,12.6526.2504.2294.5986.36.9664.3205.3442-.0238.6611-.1741.8607-.4076.2464-.2611.3756-.6053.3521-.9653-.0157-.3561-.1722-.6845-.4343-.914-3.2746-2.9752-5.88027-6.5518-7.74255-10.6348l3.77934-1.5865c.3169-.1266.56338-.3719.71991-.7161.133-.3324.1291-.6964-.0118-1.0208-.13299-.3204-.40686-.5776-.73941-.7121-.33255-.1227-.68075-.1187-.9507,0L4.65576,50.1342C3.4664,46.9018,2.79739,43.5547,2.66437,40.172h4.10798c.72378,0,1.30673-.5895,1.30673-1.3215c0-.7319-.58295-1.3214-1.30673-1.3214h-4.10798c.12911-3.4342.78638-6.7852,1.95618-9.9741l3.75587,1.5746c.29342.1385.66901.1464,1.00156.0198.34429-.1305.61815-.3917.75122-.7161.2777-.6686-.0353-1.4441-.70427-1.7329L5.60255,25.1218c1.4241-3.0939,3.30595-5.9267,5.60645-8.4351l2.8873,2.9238c.2347.2414.5673.3838.9116.3877h.0156c.356,0,.6964-.1384.9429-.3877.493-.5104.489-1.3491-.0117-1.8674l-2.8913-2.9278c2.4883-2.3303,5.2974-4.2254,8.3451-5.65763l1.5767,3.85353c.2073.4906.6807.8071,1.205.8071.176,0,.3599-.0395.4968-.0989.3209-.1345.5752-.3877.7082-.7201.1291-.3323.1291-.6844,0-1.0128L23.8224,8.14483c3.169-1.1711,6.4828-1.83182,9.867-1.95843v4.1384c0,.7319.5868,1.3254,1.3145,1.3254.7199,0,1.2989-.5935,1.2989-1.3254v-4.1384c3.3881.12661,6.7019.78733,9.8631,1.95843L44.5814,12.0023c-.1291.3245-.1291.6805.0039,1.0208.1369.3205.3912.5776.6416.6765.1683.0831.36.1227.5712.1227.536,0,1.0055-.3165,1.209-.8111l1.5766-3.85353c3.0478,1.42433,5.8529,3.33133,8.349,5.66163l-2.9108,2.9436c-.5047.5143-.5008,1.3531.0078,1.8753.5047.4985,1.3498.4906,1.8467-.0079l2.9108-2.9436c2.32,2.54,4.1979,5.3768,5.6064,8.4509L60.5595,26.736c-.6612.2928-.9781,1.0682-.7082,1.7171.1996.4945.6847.8229,1.209.8229.1212,0,.356-.0158.5007-.0949l3.8263-1.6024c1.1659,3.1889,1.8232,6.54,1.9523,9.9781h-4.1354c-.7198,0-1.3028.5935-1.3028,1.3294c0,.7319.583,1.3214,1.3028,1.3214l4.1354-.004c-.133,3.3749-.8099,6.718-2.0031,9.9623L61.561,48.5833c-.309-.1345-.6807-.1345-1.0054.0079-.3287.1345-.583.3996-.7043.6964-.1369.3283-.1408.6884-.0078,1.0128.1252.3323.3834.5895.7121.728l3.8067,1.5865c-1.874,4.0751-4.4797,7.6557-7.7465,10.6309-.2543.2255-.4108.546-.446.9179-.0156.3521.0939.6884.3208.9416.2465.2849.6025.4471.9859.4471.3365,0,.6495-.1187.8725-.3363c3.8106-3.4579,6.8779-7.8377,8.885-12.6605l.1252-.273.0352-.1227C69.1158,47.883,69.9922,43.4281,70,38.9138c.0039-9.4558-3.6307-18.3458-10.2386-25.0401C53.1456,7.17946,44.3506,3.5,34.9961,3.5Z' clip-rule='evenodd' fill='#f904fc' fill-rule='evenodd')
          .intro__texts
            b.intro__strong
              | 60 KmH
            span.intro__desc
              | Top Speed
        .intro__item
          .intro__icon
            svg#eY95SCI17ij1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 70 70' shape-rendering='geometricPrecision' text-rendering='geometricPrecision')
              style(type='text/css').
                #eY95SCI17ij9_tr {animation: eY95SCI17ij9_tr__tr 3000ms linear infinite normal forwards} @keyframes eY95SCI17ij9_tr__tr { 0% { transform: translate(35.625414px,33.069528px) rotate(0deg);} 100% { transform: translate(35.625414px,33.069528px) rotate(360.0015deg);} }
              g
                path(d='M7.17298,16.6464c.70737-1.2249,2.27254-1.6442,3.49732-.9368c1.2249.7064,1.6442,2.2727.9379,3.4976-.7074,1.2249-2.27364,1.6442-3.49847.9368-1.22482-.7063-1.64412-2.2727-.93675-3.4976Z' clip-rule='evenodd' fill='#f904fc' fill-rule='evenodd')
                path(d='M2.56098,32.439c1.41493,0,2.56097,1.146,2.56097,2.5609c0,1.4139-1.14604,2.561-2.56097,2.561C1.1471,37.5609,0,36.4138,0,34.9999C0,33.585,1.1471,32.439,2.56098,32.439Z' clip-rule='evenodd' fill='#f904fc' fill-rule='evenodd')
                path(d='M8.10981,48.1487c1.22491-.7074,2.79129-.2881,3.49759.9367.7074,1.2249.2881,2.7911-.9368,3.4985-1.22492.7063-2.79019.287-3.4976-.9378-.70741-1.2238-.28809-2.79.93681-3.4974Z' clip-rule='evenodd' fill='#f904fc' fill-rule='evenodd')
                path(d='M14.8002,60.899c5.5894,4.4082,12.6348,7.0405,20.2825,7.0405c18.1215,0,32.8604-14.7807,32.8604-32.9439c0-18.1647-14.7389-32.94384-32.8604-32.94384-7.1433,0-13.7611,2.29657-19.1577,6.1917-.3704-.71022-.643-1.35507-.8178-1.93456C20.7706,2.3342,27.6598,0,35.0827,0C54.3346,0,70,15.6977,70,34.9949C70,54.2984,54.3346,70,35.0827,70c-8.0681,0-15.5058-2.7585-21.4241-7.3844l1.1416-1.7166Z' clip-rule='evenodd' fill='#f904fc' fill-rule='evenodd')
              g(transform='translate(1.751109 2.385026)')
                g#eY95SCI17ij9_tr(transform='translate(35.625414,33.069528) rotate(0)')
                  path(d='M29.923516,6.3089v27.410048' transform='scale(-1,0.878327) translate(-29.923516,-35.477196)' fill='none' stroke='#fff' stroke-width='2' stroke-linecap='round')
                path(d='M28.411145,33.5253l9.135733,19.214627' transform='matrix(.923827-.382811 0.382811 0.923827-3.455404 13.455757)' fill='none' stroke='#fff' stroke-width='2' stroke-linecap='round')
                ellipse(rx='1.266914' ry='1.266914' transform='matrix(1.58548 0 0 1.58548 35.625414 33.069528)' fill='#fff' stroke-width='0')

          .intro__texts
            b.intro__strong
              | 40 - 55 min
            span.intro__desc
              | Running Time
