section.rotate.section(data-aos="fade-up" data-aos-duration="2000")
  .container
    .rotate__box.js-rotatebox
      .rotate__images
      input#rotate-range(type="range", name="range" min="0" max="36" value="0" data-aos="fade-up").rotate__slider
    .rotate__buttons(data-aos="fade-up")
      a(href="#").rotate__button.btn.btn__content
        | Order