header.header
	.container
		.header__wrapper
			a.header__logo(href=data.header.links.logo)
				img(src="./logo.svg", alt="logo" width="270" height="31")

			button.header__burger.btn.js-burger(type="button")
				span
				span

			nav.header__menu
				a.header__menu-logo(href=data.header.links.logo)
					img(src="./logo.svg", alt="logo" width="270" height="31")
				.header__list
					each object, key in data.header.menu
						a.header__link(
							href=object.url
						)
							!= object.name
				button.header__menu-order.btn.btn__content(type="button")
					| Order a rocketsurf

			button.header__order.btn.btn__content(type="button")
				| Order a rocketsurf
