-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '#',
					name: 'History'
				},
				{
					url: '#',
					name: 'Mobile app'
				},
				{
					url: '#',
					name: 'Investment'
				},
				{
					url: '#',
					name: 'B2B'
				},
				{
					url: '#',
					name: 'Team'
				}
			]
		},
	};

//- script.
//- 	window.data = {
//- 		home: !{JSON.stringify(data.home)},
//- 	};
