-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '#',
					name: 'History'
				},
				{
					url: '#',
					name: 'Mobile app'
				},
				{
					url: '#',
					name: 'Investment'
				},
				{
					url: '#',
					name: 'B2B'
				},
				{
					url: '#',
					name: 'Team'
				}
			]
		},

		innavations: [
			{
				image: 'surf-2',
				title: 'A quick-mount fin system',
				subtitle: 'Our unique lock system requires no tools for installation or removal. The fins are securely locked in place using a magnetic mechanism, and can be easily removed with the included magnetic key.'
			},
			{
				image: 'surf-3',
				title: 'Magnetic mount for controller',
				subtitle: "Rocket Surf's controller features a magnetic mount for added rider comfort. Easily attach it to the handle on the board's body to free your hands at the start until you gain speed and stand up on the board."
			},
			{
				image: 'surf-4',
				title: 'Unique battery pack configuration',
				subtitle: "Our electric surfboard is equipped with a three-section battery, which allows for individual sections to be charged while still being able to ride, making it convenient for rental businesses. Or, all three sections can be installed for extended riding time. The battery can be charged without removing it from the board."
			},
			{
				image: 'surf-5',
				title: 'Control with comfort',
				subtitle: 'Adjusting the handle length in Rocket Surf is made easy with a single button press, making it the only board with this feature. You can adjust the rope length even while riding to fit your height perfectly.'
			},
		],

		apps: {
			0: [
				{
					title: 'BOARD OVERVIEW',
					subtitle: 'single or multiple boards'
				},
				{
					title: 'SPEED LIMITS',
					subtitle: 'Kids Mode / Race Mode / X Mode'
				},
				{
					title: 'TRACKING',
					subtitle: 'Find your actual position, Tracking history'
				},
				{
					title: 'GEOFENCE',
					subtitle: 'No-Go zones for your SURFREBEL'
				}
			],

			1: [
				{
					title: 'ALERTS',
					subtitle: 'alerts for movements, zone entering alerts'
				},
				{
					title: 'REPORT',
					subtitle: 'Report a malfunction or a loss'
				},
				{
					title: 'SERVICE',
					subtitle: 'Send a service request'
				},
			]
		}
	};

//- script.
//- 	window.data = {
//- 		home: !{JSON.stringify(data.home)},
//- 	};
